#menu #logo {
  align-self: center;
}
.btn {
  padding-right: 20px;
}
#logo {
  padding-left: 20px;
}

#menu {
  padding-right: 40px;
}
#navbar {
  display: flex;
  justify-content: space-between;
  height: 30px;
}
